<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Atualizar Cliente</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <label>Nome</label>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Nome" formControlName="nome">
      </div>
      <label>Gênero</label>
      <div class="form-group ">
        <section>
          <select formControlName="genero" class="form-control">
            <option selected></option>
            <option *ngFor="let nome of generos">
              {{nome}}
            </option>
          </select>
        </section>
      </div>
      <label>Telefone</label>
      <div class="form-group ">
        <input name="telefone" mask="(00) 00000-0000" [showMaskTyped]=" true " id="telefone " type="text "
          class="form-control " placeholder="Telefone " formControlName="telefone">
      </div>
      <label>CPF</label>
      <div class="form-group ">
        <input name="cpf " mask="000.000.000-00" [showMaskTyped]=" true " id="cpf " type="text" class="form-control "
          formControlName="cpf">
      </div>
      <label>Data de Nascimento</label>
      <div class="form-group ">
        <input name="dataNascimento " id="dataNascimento " type="date" class="form-control "
          formControlName="dataNascimento">
      </div>
    </form>
    <br>
    <div class="col-sm containerButton text-center">
      <button class="btn btn-primary" (click)="atualizarCliente()">Atualizar</button>
    </div>
    <br>
  </div>