<div class="logo">
    <a href="http://localhost:4200/" class="simple-text logo-mini">
        <div class="logo-img">
            <img  id ="img_logo"src="../../../assets/img/now-logo.png" />
        </div>
    </a>

    <a href="http://localhost:4200/" class="simple-text logo-normal"> Events Manager
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a [routerLink]="[menuItem.path]">
                <i class="now-ui-icons {{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>