<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title"> Clientes</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table ">
                            <thead class=" text-primary">
                                <th>
                                    Nome
                                </th>
                                <th>
                                    Gênero
                                </th>
                                <th>
                                    Telefone
                                </th>
                                <th>
                                    CPF
                                </th>
                                <th>
                                    Data de Nascimento
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let cliente of clientes">
                                    <td>{{cliente.nome}}</td>
                                    <td>{{cliente.genero}}</td>
                                    <td>{{cliente.telefone | mask: "(00) 00000-0000"}}</td>
                                    <td>{{cliente.cpf | mask : "000.000.000-00"}}</td>
                                    <td>{{cliente.dataNascimento | mask: "d0/M0/0000"}}</td>

                                    <td class="td-actions">
                                        <button type="button" rel="tooltip" title=""
                                            class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                            (click)="abreAlterarCliente(cliente.cpf)">
                                            <i class="now-ui-icons ui-2_settings-90"></i>
                                        </button>


                                    </td>

                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="card-header">
                    <h4 class="card-title">Eventos</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Evento
                                </th>
                                <th>
                                    Cliente
                                </th>
                                <th>
                                    Data do Evento
                                </th>
                                <th>
                                    Data do Cadastro
                                </th>
                              </thead>
                            <tbody>
                                <tr *ngFor="let evento of eventos">
                                    <td>{{evento.tipo}}</td>
                                    <td>{{evento.cliente}}</td>
                                    <td>{{evento.dataEvento | date: "dd/MM/yyyy"}}</td>
                                    <td>{{evento.dataCadastro | mask: "d0/M0/0000" }}</td>
                             
                                    
                                    <td class="td-actions text-center">
                                      
                                        <button type="button" rel="tooltip"
                                            class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral"
                                            type="button" (click)="abreAlterarEvento(evento.dataEvento)">
                                            <i class="now-ui-icons ui-2_settings-90"></i>
                                        </button>&nbsp;&nbsp;
                                        <button type="button" rel="tooltip" title=""
                                            class="btn btn-danger btn-round btn-icon btn-icon-mini btn-neutral"
                                            data-original-title="Remove" (click)="removerEvento(evento.dataEvento)">
                                            <i class="now-ui-icons ui-1_simple-remove"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>