<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Atualizar Evento</h5>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form">
      <label>Tipo de Evento</label>
      <div class="form-group">
        <input type="text" class="form-control" formControlName="tipo">
      </div>
      <label>Data do Evento</label>
      <div class="form-group ">
        <input name="dataEvento" id="dataEvento" type="date" class="form-control " formControlName="dataEvento2">
      </div>
      <label>Selecione o Cliente pelo CPF</label>
      <div class="form-group ">
        <section>
          <select formControlName="cliente" class="form-control">
            <option selected></option>
            <option *ngFor="let cliente of clientes">
              {{cliente.cpf}}
            </option>
          </select>
        </section>
      </div>
    </form>
    <br>
    <div class="col-sm containerButton text-center">
      <button class="btn btn-primary" (click)="atualizarEvento()">Atualizar</button>
    </div>
    <br>
  </div>