<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>-->
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header ">
                    <h5 class="title">Reserva data para Evento</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">

                            <div class="col-md-4 px-4">
                                <label>Tipo de Evento</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" formControlName="tipo">
                                </div>
                            </div>

                            <div class="col-md-2 px-4">
                                <label>Data do Evento</label>
                                <div class="form-group ">
                                    <input name="dataEvento" id="dataEvento" type="date" class="form-control " formControlName="dataEvento">
                                </div>
                            </div>
                    
                            <div class=" col-md-4 px-4">
                                <label>Selecione o Cliente pelo CPF</label>
                                <div class="form-group ">
                                    <section >
                                         <select formControlName="cliente" class="form-control">
                                          <option selected></option >
                                          <option *ngFor="let cliente of clientes">
                                      {{cliente.cpf}}   
                                          </option>
                                        </select>
                                      </section>
                                </div>
                            </div>                            

                            <div class="col-md-3 px-3 ">
                                <div class="col-sm containerButton">
                                    <button class="btn btn-primary" (click)="cadastrarEvento()">Cadastrar</button>
                                                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card card-user ">
                <div class="image ">
                    <img src="../assets/img/bg5.jpg " alt="... ">
                </div>
                <div class="card-body ">
                    <div class="author ">
                        <a href="# ">
                            <img class="avatar border-gray " src="../assets/img/mike.jpg " alt="... ">
                            <h5 class="title ">Mike Andrew</h5>
                        </a>
                        <p class="description ">
                            michael24
                        </p>
                    </div>
                    <p class="description text-center ">
                        "Lamborghini Mercy <br> Your chick she so thirsty
                        <br> I'm in that two seat Lambo"
                    </p>
                </div>
                <hr>
                <div class="button-container">
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</div>-->