<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5 class="title px-2">Cadastro de Cliente</h5>
                </div>
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">
                            
                            <div class="col-md-4 px-4">
                                <label>Nome</label>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Nome" formControlName="nome">
                                </div>
                            </div>

                            <div class=" col-md-2 px-4">
                                <label>Gênero</label>
                                <div class="form-group ">
                                    <section >
                                         <select formControlName="genero" class="form-control">
                                          <option selected></option >
                                          <option *ngFor="let nome of generos">
                                            {{nome}}
                                          </option>
                                        </select>
                                      </section>
                                </div>
                            </div>                            


                            <div class="col-md-2 px-4">
                                <label>Telefone</label>
                                <div class="form-group ">
                                    <input name="telefone" mask= "(00) 00000-0000" [showMaskTyped] = " true " id="telefone " type="text " class="form-control " placeholder="Telefone " formControlName="telefone">
                                </div>
                            </div>
                            
                            <div class="col-md-2 px-4">
                                <label>CPF</label>
                                <div class="form-group ">                                  
                                    <input name="cpf "   mask = "000.000.000-00" [showMaskTyped] = " true " id="cpf " type="text" class="form-control "  formControlName="cpf">
                                </div>
                            </div>

                            <div class="col-md-2 px-4">
                                <label>Data de Nascimento</label>
                                <div class="form-group ">
                                    <input name="dataNascimento " id="dataNascimento " type="date" class="form-control "  formControlName="dataNascimento">
                                </div>
                            </div>

                            <div class="col-md-2 px-4">
                                <div class="col-sm containerButton">
                                    <button class="btn btn-primary" (click)="cadastrarCliente()">Cadastrar</button>
                                </div>
                            </div>
                            
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card card-user ">
                <div class="image ">
                    <img src="../assets/img/bg5.jpg " alt="... ">
                </div>
                <div class="card-body ">
                    <div class="author ">
                        <a href="# ">
                            <img class="avatar border-gray " src="../assets/img/mike.jpg " alt="... ">
                            <h5 class="title ">Mike Andrew</h5>
                        </a>
                        <p class="description ">
                            michael24
                        </p>
                    </div>
                    <p class="description text-center ">
                        "Lamborghini Mercy <br> Your chick she so thirsty
                        <br> I'm in that two seat Lambo"
                    </p>
                </div>
                <hr>
                <div class="button-container">
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-facebook-f"></i>
          </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-twitter"></i>
          </button>
                    <button href="#" class="btn btn-neutral btn-icon btn-round btn-lg">
            <i class="fab fa-google-plus-g"></i>
          </button>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
